


.column-25 {
	flex-basis: 25%;
/*	padding: 0px 10px 0px 10px;*/
/*    padding: 20px 10px 0px 50px;
*/
}

.column-75 {
	flex-basis: 100%;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	padding-right: 10%;	
}

.column-100 {
	/*flex-basis: 100%;  specifies the initial main size of a flex item */
	width: 200px;
	padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
}

.column-100-2 {
	/*flex-basis: 100%;  specifies the initial main size of a flex item */
	width: 100%;
	flex-basis: 100%;

}

.column-100-promo {
	/*flex-basis: 100%;  specifies the initial main size of a flex item */
	width: 100%;
	flex-basis: 100%;
	padding-left: 10.5%;

}


.column-body-padding {
	width: 10%;
}

.column-100-grooming {
	flex-basis: 100%;  /* specifies the initial main size of a flex item */
	width: 200px;
	padding: 0px 10% 0px 10%; /* TOP RIGHT BOTTOM LEFT [TRBL] */
}




/* Custom Flex Box for Index.html*/
.column-100-landing{
flex-basis: 50%;	
padding: 0px 20px 0px 10%; /* TOP RIGHT BOTTOM LEFT [TRBL] */



}

.column-100-cat {
	/*flex-basis: 100%;  specifies the initial main size of a flex item */
	flex-basis: 50%;	
	/*padding: 0px 10px 0px 100px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
}

.row-100-info {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	justify-content: space-around;
	padding-left: 10%;
	padding-right: 10%;
	padding-right: 50px;
	padding-top: 50px;
	flex-basis: 100%;
}

.column-100-info {
	/*flex-basis: 100%;  specifies the initial main size of a flex item */
	width: 75%;
	flex-basis: 100%;
	padding-right: 50px;
}


/* End of Index.html*/

/*Custom Flex for Booking.html*/
.column-100-booking{
	width: 100%;
	padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
	flex-wrap: wrap;
	padding-top: 50px;

}

.row-100-booking {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	justify-content: space-evenly;
	padding-top: 10px;
	padding-bottom: 30px;

}

/*End of Booking.html*/

/*Custom Flex for Grooming and sub grooming page*/
.column-25-groom{
	flex-basis: 25%;
}

.row-100-groom{
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	display: flex;
	justify-content: center;
}
.row-100-groom-head{
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	padding-top: 70px;
}

/*end of Grooming*/

/*Custom Flex for Room-Type */
.row-100-room-type{
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	padding-left: 25%;
	padding-top: 50px;
}


/*end of Room-Type*/

/*Custom for profile pages*/

.row-100-profile {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */

}

/*end of profile pages*/

/*Custom for Contact*/

.row-100-contact{
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
}

/*End of contact*/

/*custom to about page*/
.row-100-about {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	padding-top: 30px;
}
/*end for about*/



/*Custom for Payment Page*/


.row-100-payment {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	justify-content: space-evenly;

}
.row-100-items {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 


}

/*end of payment page*/

/*Custom for Footer*/
.row-100-black-foot{
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	padding: 40px 10% 40px 10%;

}
.row-100-black-foot-2{
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	padding: 40px 10% 40px 10%;

}

.column-100-black-foot{
	flex-basis: 100%;  /*specifies the initial main size of a flex item */
	flex: 1;
	width: 200px;
	padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
}
/*End for Footer*/

.column-100-button {
	flex-basis: 100%; /* specifies the initial main size of a flex item */
}

.column-100-white {
	flex-basis: 100%; /* specifies the initial main size of a flex item */
	background-color: white;
}

.row-90 {
	width: 90%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	/*display: flex;
	justify-content: flex-end;*/
}


.row-100 {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
}

.row-100-head{
	width: 100%;
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	background-color: #ee2a7b;
	padding-bottom: 15px;
}

.row-100-yellow {
	width: 100%;
	margin: 0 auto; /* https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	background-color: var(--color2);
	transition: all 350ms ease-out ;
	padding-left: 10%;
}

.row-100-footer {
	width: 100%;
	display: flex; /* defines a flex container */
	flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
	flex-wrap: wrap; /* will allow a multi-line flex */
	background-color: white;
	padding-left: 20px;

}


/* using min-width is optimal for mobile first layout design */
/* the way this is laid out, each column will have 100% width on mobile and wrap down to the next column 
on desktop, all columns will be the same size */
@media only screen and (min-width: 800px) {
	.column-100 {

		width: 360px;
		padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
		flex-wrap: wrap;
	}

	.column-100-2 {
		flex: 1;
		flex-wrap: wrap;
	}
	.column-100-info {
		flex: 0;
		flex-wrap: wrap;
	}

	.column-100-white {
		flex: 1;
		flex-wrap: wrap;
	}

	.column-100-button {
		flex: 1;
		flex-wrap: wrap;
	}

	.column-75 {
		flex-basis: 75%;
		justify-content: flex-start;
		align-content: center;
		display: block;


	}

	.column-100-cat {
		/*flex-basis: 100%;  specifies the initial main size of a flex item */
		flex-basis: 50%;	
		padding: 0px 10px 0px 100px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	
	.column-100-black-foot{
		width: 360px;
		padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
		flex-wrap: wrap;
	}


}

@media only screen and (max-width: 800px){
	.row-100-head{
		background-color: #ffbb39;
	}

	.row-100-head{
		width: 100%;
		display: flex; /* defines a flex container */
		flex-direction: row; /* determines the direction of a child in a flex container as left-to-right */ 
		flex-wrap: wrap; /* will allow a multi-line flex */
		background-color: #ee2a7b;
		padding-bottom: 50px;
	}
	.column-100 {
		flex-basis: 100%;
	padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
	flex-wrap: wrap;

	}
	.column-75{
		justify-content: flex-start;
		align-content: center;
		z-index: 500;

	}
	.column-100-black-foot{
		flex-basis: 100%;
	padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
	flex-wrap: wrap;
	}


	.column-100-booking{
		width: 100%;
		padding: 0px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
		flex-wrap: wrap;
		padding-top: 100px;
	
	}
	.column-100-landing{
		flex-basis: 50%;	
		padding: 20px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
		
		
		}
		.column-100-cat{
			flex-basis: 50%;	
			padding: 20px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
			
			
			}
			

		.row-100-room-type{
			padding-left: 0;
			padding-top: 100px;
		}

		.row-100-profile {
			padding-top: 70px;
		}

		.row-100-contact{

			padding-top: 70px;
		}
/*
		.row-100-info{
			display: flex;
align-items: center;		
}
*/

}
@media only screen and (max-width: 1060px){
	.column-25-groom{
		/*	padding: 0px 10px 0px 10px;*/
			padding: 0px 10px 0px 0px;
			flex-basis: 100%;
		
		
	}


	.column-100-groom {
		flex-basis: 100%;  /* specifies the initial main size of a flex item */
		width: 200px;
		padding: 70px 10px 0px 10px; /* TOP RIGHT BOTTOM LEFT [TRBL] */
	}
	.row-100-groom{
		padding-top: 10px;
	}


}



/* REFERENCES */
/* Flex Grid https://www.taniarascia.com/easiest-flex-grid-ever/ */
/* 0 AUTO https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */