/* ------------------------------- BASIC FUNCTIONALITIES ------------------------------- */
html{
	background-color: #f7f7f7;
}

body {
	margin: 0;
}
  
@font-face{
	font-family: "Orelo";
	font-family: "Nimbus-Sans";
	font-family: "Circular Std";
}
  
h1 {
	font-family: "Orelo Standard DemiBold", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2.5em;
}
  
h2 {
	font-family: "Nimbus-Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.3em;
}
  
h3 {
	font-family: "Nimbus-Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
}

h4 {
	font-family: "Nimbus-Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
}
  
p {
	font-family: "Nimbus-Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: .8em;
	line-height: 1.5em;
}

button {
	color: white;
	background-color: #FEBD2D;
	padding: 5px 20px 5px 20px; /* top left bottom right */
	border: none;
	border-radius: 25px;
	margin: 0px;
}

button:hover {
	background-color: #E7AC29;
}

/* https://www.w3schools.com/howto/howto_css_star_rating.asp */
.checked {
	color: orange;
}

/* ------------------------------- BUTTON STYLING ------------------------------- */
button.room-option-button {
	padding: 10px;
	background-color: gray;
	border: none;
}

button.landing-page-search-button {
	height: 100px;
	width: 100%;
	background-color: #FEBD2D;
	border: none;
	border-radius: 0px 25px 0px 0px; /* top-left, top-right, bottom-right, bottom-left https://www.w3schools.com/css/css3_borders.asp */
}

button.landing-page-search-button:hover {
	background-color: #E7AC29;
}

button.landing-page-options {
	margin: 0;
  	padding: 0;
  	display: block;
  	background-color: white;
  	color: black;
  	border: none;
  	border-radius: 0px;
}

button.landing-page-options:hover {
	margin: 0;
  	padding: 0;
  	display: block;
  	background-color: white;
  	color: #FEBD2D;
  	border: none;
  	border-radius: 0px;
}


/* ------------------------------- DIV STYLING ------------------------------- */
div.room-option-buttons {
	clear: both;
	display: block;
}

div.center {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

div.testimonial {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 250px;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	/* https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
	box-shadow: -5px 5px 10px #b1b1b1; /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
}

div.testimonial-header {
	display: inline-block;
}


/* ------------------------------- IMG STYLING ------------------------------- */
img.testimonial {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 100%;
	object-fit: cover;
}

img.black-cat {
	width: 400px;
	display: block;
	position: relative;
	margin-left: calc(50% - 200px);
	top: 25%;
/*	transform: translateY(-50%);
	transform: translateX(100%);*/
	z-index: -2;
}


/* ------------------------------- TYPE STYLING ------------------------------- */
h1.footer-logo {
	font-family: "Orelo Standard DemiBold", sans-serif;
  	font-weight: normal;
  	font-style: normal;
  	font-size: 2em;
}

.testimonial-headers {
	line-height: 0px;
	padding-left: 10px;
}


/* ------------------------------- SECTION STYLING ------------------------------- */
section.footer {
	margin-top: 40px;
}

/* ------------------------------- EYE CODE ------------------------------- */
/* code by https://codepen.io/J-Roel/pen/wWGNQN */
section.move-area {
	width: 100%;
	height: 520px;
} 

.eyes {
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-20%);
	margin-left: -22px;
	width:100%;
	text-align:	center;
}

.eye {
	width: 120px;
	height: 120px;
	background: white;
	display: inline-block;
	margin: 30px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.ball {
	width: 90px;
	height: 90px;
	background: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 10px solid #FEBD2D;
}

  
/* ------------------------------- ROOM TYPE PAGE STYLING ------------------------------- */
/* ----- HEADERS ----- */
h2.room-type-subtitle {
	display: inline-block;
	padding-right: 10px;
}
  
/* ----- IMAGES ----- */
img.room-type-image {
	width: 100%;
	padding-bottom: 10px;
	object-fit: cover;
}
  
/* ----- DIVS ----- */
div.select-tag {
	width: 100%;
}
  
  
  /* ------------------------------- BOOKING PAGE STYLING ------------------------------- */
  /* ----- HEADERS ----- */
  h1.room-header {
	  margin-top: -25px;
	  padding-left: 10px;
  }
  
  h2.room-subtitle {
	  padding-left: 10px;
  }
  
  /* ----- TABEL LAYOUT ----- */
  h3.table-layout-left {
	  display: inline-block;
	  float: left;
	  padding-left: 10px;
  }
  
  h3.table-layout-right {
	  display: inline-block;
	  float: right;
	  padding-right: 10px;
  }
  
  /* ----- ICON STYLING ----- */
  i {
	  padding-top: 20px;
	  padding-left: 10px;
  }  
  
  /* ----- IMAGES ----- */
  img.room-placeholder-image {
	  margin-top: 50px;
	  width: 100%;
	  object-fit: cover; /* https://www.w3schools.com/css/css3_object-fit.asp */
  }
  /* ----- END OF IMAGES ----- */

  
  /* ----- DIVIDING LINE ----- */
  div.divider {
	  width: 100%;
	  background-color: gray;
	  height: 1px;
	  clear: both; /* https://www.w3schools.com/css/css_float.asp */
  }


  
/* ------------------------------- MEDIA QUERIES ------------------------------- */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (max-width: 800px) {
	button.landing-page-search-button {
		height: 60px;
	  	border-radius: 25px 25px 0px 0px; /* TOP RIGHT BOTTOM LEFT */
	}

	button.landing-page-search-button:hover {
	  	background-color: #E7AC29;
	  	height: 60px;
	  	border-radius: 25px 25px 0px 0px; /* TOP RIGHT BOTTOM LEFT */
	}

	button.landing-page-options:hover {
	margin-bottom: 40px;
  	padding: 0;
  	display: block;
  	background-color: white;
  	color: #FEBD2D;
  	border: none;
  	border-radius: 0px;
}

	section.move-area {
	padding: 28% 0 0 0; /* top, right, bottom, left */
	width: 100%;
	height: 520px;
	} 

	.eyes {
		position: absolute;
		z-index: -1;
		top: 50%;
		transform:translateY(-50%);
		width:100%;
		text-align:	center;
	}

	.eye {
		width: 180px;
		height: 120px;
		background: rgb(255, 230, 0);
		display: inline-block;
		margin: 40px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
	}

	.ball {
		width: 35px;
		height: 70px;
		background: #000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border: 10px solid rgb(0, 226, 188);
	}
}

div.landing-page {
	width: 100%;
	height: 33.5em;
	background-color: #ffbb39;
}

.landing-page-header {
	font-size: 8em;
	margin: 0;
	margin-bottom: -.15em;
	color: #ef4f21;
}


  
  
/* ------ REFERENCES ------ */
  
/* OBJECT FIT https://www.w3schools.com/css/css3_object-fit.asp */
/* FLOATS https://www.w3schools.com/css/css_float.asp */
/* BOX SHADOW https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */