/* ------------------------------- LINKS ------------------------------- */


/*nav {
  display: inline-block;
  float: right;
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}*/

/* original nav bar code */
/*a {
  color: black;
  text-decoration: none;
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: .8em;
}


a:hover, a:active, a:focus {
  color: #FEBD2D;
  text-decoration: underline wavy red;*/ /* WHY IS THIS NOT WORKINGGG??! */
/*  -webkit-transition: color 0.5s;
  transition: color 0.5s;*/
/* } */

nav {
  display: inline-block;
  float: right;
  padding: 45px 0px 30px 0px; /* TOP RIGHT BOTTOM LEFT */
}

a {
  text-decoration: none;
  font-family: "Aileron-Regular", sans-serif;
  font-size: 0.8em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover {
  text-decoration: none;
  font-family: "Aileron-Regular", sans-serif;
  color: #ee2a7b;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a.navigation {
  padding-left: 30px;
  font-size: .8em;
  color: #231f20;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a.navigation:hover {
  padding-left: 30px;
  font-size: .8em;
  color: #ee2a7b;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a.nav-footer {
  font-size: .8em;
  color: white;
}

/* Hamburger css */
#nav-items a, #nav-items a:visited, #nav-toggle {
  display: inline-block;
  padding: .8em 1.25em;
  text-decoration: none;
  visibility: visible;
  width: 100%;
  text-align: left;
}

#nav-toggle {
  background-color: black;
  display: block;
  border: 0;
}

#nav-toggle:hover, #nav-toggle:focus {
  background-color: gray;
}

#nav-toggle.hidden, #nav-items.hidden {
  visibility: hidden;
  display: inline-block;
}
/* ------------------------------- END OF LINKS ------------------------------- */
:root{
  --color1:#f7f7f7;
  --color2:#ecedee;
  --colorb:black;
  --colorw:white;
}

header {
  z-index: 500;
  background-color: var(--color1);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  height: 80px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}


.chat{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}

div.nav-footer {
  margin-top: 35px;
  padding-left: 200px; /*Changed this to padding 200 and float left to make everything aligned*/
  float: left;
}

p.footer {
  font-size: .7em;
  color: white;
}

/*header  {
    display: inline;
}*/

/*header li {
    margin: 20px;
}*/

/* ------------------------------- LANDING PAGE FOOTER ------------------------------- */
div.cfooter {
    /* background-color: white; */
    /* position: sticky; */
/*    width: 100%;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: red;*/
    background-color: red;
}
/* ------------------------------- END OF LANDING PAGE FOOTER ------------------------------- */



/*Grid Css*/
[class*='col-'] {
	float: left;
	padding: 0; 
	text-align: center; 
}


/*.col-5of10 {
	width: 50%;
}*/


/*.col-1of6 {
	width: 16.667%;
}*/

/*.grid:after {
	content: "";
	display: block;
	clear: both;
}*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* 63 em */
/*@media (max-width: 63em) {

	.col-1of6 {
		width: 33.333%;
	}

}*/

/* 57em */
/*@media (max-width: 57em) {

	.col-5of10 {
		width: 100%;
	}

}*/

/* 37em */
/*@media (max-width: 800px) {

	.col-1of6 {
		width: 50%;
	}

}*/

/* 22em */
/*@media (max-width: 22em) {

	.col-1of6 {
		width: 100%;
	}

}*/
/*End of Grid css*/

/*Dropmenu

nav {
  display: inline-block;
  float: right;
  padding: 45px 0px 30px 0px; /* TOP RIGHT BOTTOM LEFT 
}

a {
  text-decoration: none;
  font-family: "NimbusSansDOT-Regu", sans-serif;
  color: black;
}

a:hover {
  text-decoration: none;
  font-family: "NimbusSansDOT-Regu", sans-serif;
  color: #FEBD2D;
}

a.navigation {
  padding-left: 30px;
  font-size: .8em;
}
*/

/* ------------------------------- HOVER POP-UP ------------------------------- */

/* Dropdown Button */
.dropbtn-navigation {
  color: black;
  /* padding: 16px; */
  font-size: .8em;
  border: none;
  font-family: "NimbusSansDOT-Regu", sans-serif;
}

.dropbtn-fo:focus {
  color: black;
  /* padding: 16px; */
  font-size: .8em;
  border: none;
  font-family: "NimbusSansDOT-Regu", sans-serif;
 

}

.dropbtn-navigation:hover {
  font-family: "NimbusSansDOT-Regu", sans-serif;
  color: #FEBD2D;
  text-decoration: none;
  /* padding: 16px; */
  font-size: .8em;
  border: none;
}

.dropbtn {
  color: black;
  background-color: white;
  /* padding: 16px; */
  font-size: 1em;
  border: none;
  display: inline-block;
  margin: 0 auto;
}

h3.landing-page {
  display: block;
}

h3.landing-page2 {
  display: block;
  padding-left: 50px;
}

.dropbtn:hover {
  color: #FEBD2D;
  text-decoration: none;
  /* padding: 16px; */
  font-size: 1em;
  border: none;
}
/*Changes for Booking*/

.dropdown-booking {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.dropdown-booking:hover .cdropdown-content {display: block;}



/*End of Booking Changes*/

  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Used for the drop down menu for profile default 'Phil' */
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

/* Used for the content that pops up from the calendar */
.dropup-content {
  display: none;
  position: absolute; /* https://www.w3schools.com/css/css_positioning.asp */
  top:-165px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.cdropdown-content {
  left: 0px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px ;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline;
}

/*https://www.w3schools.com/howto/howto_css_dropdown.asp*/

  /* Links inside the dropdown */
  .dropup-content a {
    color: black;
    padding: 12px 16px ;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropup-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline;
}

 /* Change color of dropdown links on hover */
.cdropdown-content a:hover {
  background-color: #ddd;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .cdropdown-content {
  display: block;
}



/*End of Drop down*/


@media only screen and (max-width: 800px) {
  div.nav-footer {
    float: left;
    padding-left: 0px;
    margin-top: 20px;
  }


  button.landing-page-options {
    padding-bottom: 40px;
  }

  a.navigation {
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    /*
    background-color: #FEBD2D;
    color: white;
    */
  }

  nav {
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;

  }

  header {
    position: static;
    justify-content: space-evenly;
    align-items: space-evenly;


    margin-top: 20px; /* WHY DO I NEED TO MOVE IT 150PX DOWN? IS THERE ANOTHER SOLUTION?? */
  }
}



/* ------ REFERENCES ------ */

/* POSITIONING https://www.w3schools.com/css/css_positioning.asp */